body{
    background-color: #f8bc5d;
  } 

@media only screen and (max-width: 730px){
  .mainHome{
    flex-direction: column !important;
  }
  .leftHome{
     width: 100% !important; 
     height: 20% !important;
     display: flex !important;
     flex-direction: column !important;
     margin-bottom: 0px !important;
  }
  .logoDescAds .logo{
     width: 50% !important;
     height: 20% !important;
     margin: auto 0 !important;

  }
  .adsInfoMobile{
    display: block !important;
  }
  .logoDescAds .adsInfoDesktop{
    display: none !important;
  }

  .rightHome{
    width: 100% !important;
    height: 30% !important;
    margin: auto 0 !important;
    margin-top: 0 !important;
    padding-top: 5px !important;
    margin-bottom: 15px !important;

  }
  .rightHome .welcome{
    margin-left: auto 0 !important;
    font-size: smaller !important;
  }
  
  

}